<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="eventos, fatec, divulgar, gerenciar">
        <meta name="description" content="sistema de divulgação e gerenciamento de eventos das Fatecs">
        <meta name="author" content="Bianca, Gabriel, Giovanna, Karoline, Mateus">
        
        <title>Fatec Eventos - Acessibilidade</title>
        <link rel="shortcut icon" href="../imagens/icon-nav-fatec.ico" type="image/x-icon">

        <!-- CSS -->
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>

        <header id="topo">
            
            <!--Barra acessibilidade-->

            <div id="acessibilidade" class="container">

                <ul id="atalhos-internos">
                    <li><a href="#conteudo" accesskey="1" title="Ir para conteúdo da página">Ir para o conteúdo [1]</a></li>
                    <li><a href="#menu" accesskey="2" title="Ir para o menu de navegação">Ir para o menu [2]</a></li>
                    <li><a href="#rodape" accesskey="3" title="Ir para o rodapé da página">Ir para o rodapé [3]</a></li>
                </ul>

                <ul id="botoes-acessibilidade">
                    <li><a href="../views/acessibilidade-admin.html">ACESSIBILIDADE</a></li>
                    <li class="contraste"><a href="javascript:void(0);" class="contrasteA">CONTRASTE</a></li>
                    <li class="contraste"><a href="javascript:void(0);" class="semcontraste">SEM CONTRASTE</a></li>
                    <li class="fonte"><a href="javascript:void(0);" class="aumentar">A +</a></li>
                    <li class="fonte"><a href="javascript:void(0);" class="diminuir">A -</a></li>
                </ul>              

            </div> 

            <!--Cabeçalho-->

            <nav id="menu" class="container">

                <a href="../../index.html"><img id="logo" src="../imagens/logo.png" alt="Logo Fatec Eventos na cor branco"></a> 
                
                <div id="grupo-2">
                    <!-- Este grupo será separado no lado extremo direito -->
                    <div id="logos-cps">
                        <a href="https://www.cps.sp.gov.br/"><img id="brasao" src="../imagens/brasao.png" alt="Logo Centro Paula Souza e Brasão Governo Estado de São Paulo na cor branco"></a> 
                    </div>
                    
                    <div id="botoes-conta">
                        <a id="btn_acessar" href="../views/login.html">Acesse sua conta</a>
                        <a id="btn_cadastro" href="../views/cadastro.html">Cadastre-se</a>
                    </div>

                </div>

            </nav>

            <div id="barra"></div>

        </header>

        <main id="conteudo" class="minima-altura container divisao-paragrafos">
            
            <h1 id="titulo-gerenciar-eventos">Acessibilidade</h1>

            <p>Este site foi desenvolvido para que pessoas com deficiência visual, baixa visão, daltonismo, deficiência auditiva e mobilidade reduzida possam navegar por meio de recursos como alto contraste, aumento de fonte, teclas de atalho, tradução para a Língua Brasileira de Sinais e navegação por teclado.</p>
            <p>Para aumentar a fonte, é só clicar no símbolo de A+ em nossa barra de acessibilidade. Caso queira voltar ao tamanho de fonte original, é só clicar em A-.</p>
            <p>Se for necessário, você também pode usar o zoom nativo do seu navegador, pressionando as teclas “Ctrl” e “+” para aumentar todo o site e “Ctrl” e “-“ para diminuir. Para voltar ao padrão, pressione “Ctrl” e “0”.</p>
            <p>Este site tem melhor acessibilidade quando acessado nas versões mais atualizadas do seu navegador web. Utilize sempre a versão mais recente de seu software.</p>
            <p>Teclas de atalho por navegadores</p>
            <p>Internet Explorer e Google Chrome:</p>
            <p>“Alt” + “1” - ir para o conteúdo</p>
            <p>“Alt” + “2” - ir para o menu</p>
            <p>“Alt” + “3” - ir para o rodapé</p>
            <p>Firefox:</p>
            <p>“Alt” + “Shift” + “número”</p>
            <p>Opera:</p>
            <p>“Shift” + “Escape” + “número”</p>
            <p>Safari e OmniWeb:</p>
            <p>“Ctrl” + “número”</p>
            <p>Navegação por tabulação</p>
            <p>Use a tecla Tab para navegar por elementos que recebem ação do usuário no site, tais como links, botões, campos de formulário e outros na ordem em que eles são apresentados na página, e Shift + Tab para retornar. Use as setas direcionais para acessar as informações textuais.</p>
            <p>Sugestões de programas disponíveis para pessoas com deficiência</p>
            <p>- Nitrous Voice Flux: controla o computador por voz. Gratuito;</p>
            <p>- NVDA: software livre para ler tela – vários idiomas (Windows);</p>
            <p>- YeoSoft Text: leitor de tela em inglês e português;</p>
            <p>- Jaws for Windows: leitor de tela – vários idiomas;</p>
            <p>- Virtual Vision: leitor de telas em português do Brasil;</p>
            <p>- DOSVOX: sistema para deficientes visuais (Windows ou Linux).</p>
            <p>- Talckback: leitor de tela disponível em smartphones Android.</p>
            <p>Observação: leia no manual do leitor de telas sobre a melhor forma de navegação em páginas web.</p><br>
            <p>LIBRAS - Língua Brasileira de Sinais</p>
            <p>Este site é acessível em LIBRAS através do <a href="http://www.vlibras.gov.br/" target="_blank">VLibras.</a></p>
            <p>-Do lado direito de cada página do site existe o ícone de um Widget informando que o site é acessível em LIBRAS.</p>
            <p>-Para traduzir, basta clicar sobre o ícone e selecionar o texto que deseja traduzir.</p>

            <div vw class="enabled">
                <div vw-access-button class="active"></div>
                <div vw-plugin-wrapper>
                    <div class="vw-plugin-top-wrapper"></div>
                </div>
                </div>
                <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
                <script>
                new window.VLibras.Widget('https://vlibras.gov.br/app');
            </script>

        </main>

        <footer id="rodape">

            <div class="grupo-rodape">
                <h3 class="titulo-grupo-rodape">Acessibilidade</h3>

                <ul>
                    <li><a href="#conteudo" accesskey="1" title="Ir para conteúdo da página">Ir para o conteúdo [1]</a></li>
                    <li><a href="#menu" accesskey="2" title="Ir para o menu de navegação">Ir para o menu [2]</a></li>
                    <li><a href="#rodape" accesskey="3" title="Ir para o rodapé da página">Ir para o rodapé [3]</a></li>
                </ul>

                <ul>
                    <li><a href="../views/acessibilidade.html">Acessibilidade</a></li>
                </ul>

                <ul>
                    <li class="contraste"><a href="javascript:void(0);" class="contrasteA">Contraste</a></li>
                    <li class="contraste"><a href="javascript:void(0);" class="semcontraste">Sem contraste</a></li>
                </ul>

                <ul>
                    <li class="fonte"><a href="javascript:void(0);" class="aumentar">A +</a></li>
                    <li class="fonte"><a href="javascript:void(0);" class="diminuir">A -</a></li>
                </ul>

            </div>

            <div class="grupo-rodape">
                <h3 class="titulo-grupo-rodape">Redes sociais</h3>

                <div id="logos-redes-sociais">
                    <a href="https://www.facebook.com/centropaulasouza"><img src="../imagens/facebook-icon.png" alt="icone de acesso ao facebook"></a>
                    <a href="https://www.instagram.com/centropaulasouza/"><img src="../imagens/instagram-icon.png" alt="icone de acesso ao instagram"></a>
                    <a href="https://twitter.com/paulasouzasp"><img src="../imagens/twitter-icon.png" alt="icone de acesso ao twitter"></a>
                    <a href="https://www.youtube.com/c/centropaulasouzaspoficial"><img src="../imagens/youtube-icon.png" alt="icone de acesso ao youtube"></a>
                    <a href="https://www.linkedin.com/company/centropaulasouza/"><img src="../imagens/linkedin-icon.png" alt="icone de acesso ao linkedin"></a>
                </div>

                <p>Este site não coleta cookies.</p>
            </div>

            <div class="grupo-rodape">
                <h3 class="titulo-grupo-rodape">Entre em contato</h3>

                <div id="informacoes-extras">
                    <a href="https://www.cps.sp.gov.br/fatecs/">Informações sobre todas as unidades de Fatecs.</a>
                    <p>Fatec Eventos</p>
                    <p>Todos os direitos reservados.</p>
                    <p>Copyright &copy; 2022</p>
                </div>
                
            </div>

        </footer>

    </body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../js/fonte.js"></script>
    <script src="../js/contraste-views.js"></script>
    
</html>