<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!--METADADOS-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="eventos, fatec, divulgar, gerenciar">
        <meta name="description" content="sistema de divulgação e gerenciamento de eventos das Fatecs">
        <meta name="author" content="Bianca, Gabriel, Giovanna, Karoline, Mateus">
        
        <title>Fatec Eventos - Home</title>
        <link rel="shortcut icon" href="../imagens/icon-nav-fatec.ico" type="image/x-icon">

        <!--Chamando css necessário para o funcionamento do owl carrossel-->
        <link rel="stylesheet" href="../css/owl/owl.carousel.min.css">
        <link rel="stylesheet" href="../css/owl/owl.theme.default.min.css">

        <!-- CSS -->
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>

        <header id="topo">
            
            <!--Barra acessibilidade-->

            <div id="acessibilidade" class="container">

                <ul id="atalhos-internos">
                    <li><a href="#conteudo" accesskey="1" title="Ir para conteúdo da página">Ir para o conteúdo [1]</a></li>
                    <li><a href="#menu" accesskey="2" title="Ir para o menu de navegação">Ir para o menu [2]</a></li>
                    <li><a href="#rodape" accesskey="3" title="Ir para o rodapé da página">Ir para o rodapé [3]</a></li>
                </ul>

                <ul id="botoes-acessibilidade">
                    <li><a href="../views/acessibilidade-admin.html">ACESSIBILIDADE</a></li>
                    <li class="contraste"><a href="javascript:void(0);" class="contrasteA">CONTRASTE</a></li>
                    <li class="contraste"><a href="javascript:void(0);" class="semcontraste">SEM CONTRASTE</a></li>
                    <li class="fonte"><a href="javascript:void(0);" class="aumentar">A +</a></li>
                    <li class="fonte"><a href="javascript:void(0);" class="diminuir">A -</a></li>
                </ul>              

            </div> 

            <!--Cabeçalho-->

            <nav id="menu" class="container">

                <a href="../views/gerenciar.html"><img id="logo" src="../imagens/logo.png" alt="Logo Fatec Eventos na cor branco"></a> 
                
                <div id="grupo-2">
                    <!-- Este grupo será separado no lado extremo direito -->
                    <div id="logos-cps">
                        <a href="https://www.cps.sp.gov.br/"><img id="brasao" src="../imagens/brasao.png" alt="Logo Centro Paula Souza e Brasão Governo Estado de São Paulo na cor branco"></a> 
                    </div>
                    
                    <div id="botoes-conta">
                        <a id="btn_acessar" href="../../index.html">Sair</a>
                        <a id="btn_cadastro" href="../views/gerenciar.html">Administrador</a>
                    </div>

                </div>

            </nav>

            <div id="barra"></div>

        </header>

        <main id="conteudo"><!-- Onde fica todo o conteúdo do site -->

            <section id="principal">

                <div id="conteudo-home-principal" class="container">
                    <h1>Eventos da Fatec</h1>  
                
                    <h2>Precisando de ajuda para saber dos eventos que ocorrem nas Fatecs? Aqui, você encontra a agenda com os melhores eventos das faculdades. São muitas opções para você curtir e aprender cada vez mais.</h2>
                </div>

            </section>

            <section id="vantagens" class="container">

                <div class="itens-vantagens">
                    <img src="../imagens/vantagem-tickets.webp" alt="Imagem de vantagem de variedade dos eventos">
                    <h3>Variedade nos eventos</h3>
                </div>
                <div class="itens-vantagens">
                    <img src="../imagens/vantagem-free.webp" alt="Imagem de vantagem de eventos gratuito">
                    <h3>Totalmente gratuito</h3>
                </div>
                <div class="itens-vantagens">
                    <img src="../imagens/vantagem-celular.webp" alt="Imagem de vantagem de facilitar as reservas">
                    <h3>Facilidade nas reservas</h3>
                </div>

            </section>

            <section id="destaques" class="container container-secoes-home">

                <h3 class="titulos-secoes">Destaques</h3>

                <div id="eventos-destaque">

                    <div class="itens-destaque">
                        <img src="../imagens/museu-lingua.webp" alt="Imagem do Museu da Língua Portuguesa"><br>
                        <div class="eventostitle"> 
                            <p>Museu da Língua Portuguesa</p>
                            <p>Data: 18/06/2022</p> 
                            <a class="btn_info" href="#">Mais Informações</a>
                        </div>
                    </div>

                    <div class="itens-destaque">
                        <img src="../imagens/pinacoteca.webp" alt="Imagem da Pinacoteca de São Paulo"><br>
                        <div class="eventostitle"> 
                            <p>Pinacoteca</p>
                            <p>Data: 20/06/2022</p> 
                            <a class="btn_info" href="#">Mais Informações</a>
                        </div>
                    </div>

                    <div class="itens-destaque">
                        <img src="../imagens/salasp.webp" alt="Imagem da Sala São Paulo"><br>
                        <div class="eventostitle"> 
                            <p>Sala São Paulo</p>
                            <p>Data: 23/06/2022</p> 
                            <a class="btn_info" href="#">Mais Informações</a>
                        </div>
                    </div>

                </div>
                

            </section>

            <section id="eventos-gerais" class="container-secoes-home">

                <h3 class="titulos-secoes">Todos os eventos</h3>

                <div id="busca-eventos">
                    <img id="icon-lupa" src="../imagens/icon-pesquisa.png" alt="Icone de lupa para pesquisar">
                    <input type="text" placeholder="Digite o evento desejado">
                </div>

                <select name="ordenacao" id="combobox-ordenacao">

                    <option value="" selected disabled>Ordenar por</option>
                    <option value="proxima">Datas próximas</option>
                    <option value="distante">Datas distantes</option>
                    <option value="alfabetica">Ordem alfabética</option>

                </select>
                

                <div class="owl-carousel owl-theme  container">

                    <div class="item item-evento-geral">
                        <img src="../imagens/pinacoteca.webp" alt="Imagem da pinacoteca">
                        <p>Pinacoteca</p>
                    </div>
                    
                    <div class="item item-evento-geral">
                        <img src="../imagens/casa-das-rosas.webp" alt="Imagem da casa das rosas">
                        <p>Casa das Rosas</p>
                    </div>
    
                    <div class="item item-evento-geral">
                        <img src="../imagens/masp.webp" alt="Imagem do masp">
                        <p>Masp</p>
                    </div>
    
                    <div class="item item-evento-geral">
                        <img src="../imagens/pico-jaragua.webp" alt="Imagem do pico do jaragua">
                        <p>Pico do Jaraguá</p>
                    </div>
    
                    <div class="item item-evento-geral">
                        <img src="../imagens/solar-marquesa.webp" alt="Imagem do solar marquesa">
                        <p>Solar da Marquesa</p>
                    </div>
    
                    <div class="item item-evento-geral">
                        <img src="../imagens/theatro.webp" alt="Imagem do theatro municipal">
                        <p>Theatro Municipal</p>
                    </div>
                    
                </div>
                
            </section>

            <section id="regras" class="container-secoes-home">


                <div class="container">

                    <h3 class="titulos-secoes">Quais são as regras?</h3>

                    <ol id="lista-regras" type="1">
    
                        <li>Estar matriculado em alguma unidade de Fatec;</li>
                        <li>Apresentar Documento de Identificação;</li>
                        <li>Apresentar comprovante de vacinação contra Covid-19;</li>
                        <li>Proibido levar alcool ou drogas ílicitas;</li>
                        <li>O material será deixado em um guarda-volume;</li>
                        <li>Será proibido entrar com bolsas e pochetes.</li>
    
                    </ol>
    
                    <div id="regras-cadastrar">
    
                        <p>Está esperando o que? Cadastre-se e vá a todos os eventos que desejar!</p>
                        <a href="../views/cadastro.html">Cadastre-se</a>
    
                    </div>

                </div>

            </section>

            <div vw class="enabled">
                <div vw-access-button class="active"></div>
                <div vw-plugin-wrapper>
                    <div class="vw-plugin-top-wrapper"></div>
                </div>
                </div>
                <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
                <script>
                new window.VLibras.Widget('https://vlibras.gov.br/app');
            </script>

        </main>

        <footer id="rodape">

            <div class="grupo-rodape">
                <h3 class="titulo-grupo-rodape">Acessibilidade</h3>

                <ul>
                    <li><a href="#conteudo" accesskey="1" title="Ir para conteúdo da página">Ir para o conteúdo [1]</a></li>
                    <li><a href="#menu" accesskey="2" title="Ir para o menu de navegação">Ir para o menu [2]</a></li>
                    <li><a href="#rodape" accesskey="3" title="Ir para o rodapé da página">Ir para o rodapé [3]</a></li>
                </ul>

                <ul>
                    <li><a href="../views/acessibilidade-admin.html">Acessibilidade</a></li>
                </ul>

                <ul>
                    <li class="contraste"><a href="javascript:void(0);" class="contrasteA">Contraste</a></li>
                    <li class="contraste"><a href="javascript:void(0);" class="semcontraste">Sem contraste</a></li>
                </ul>

                <ul>
                    <li class="fonte"><a href="javascript:void(0);" class="aumentar">A +</a></li>
                    <li class="fonte"><a href="javascript:void(0);" class="diminuir">A -</a></li>
                </ul>

            </div>

            <div class="grupo-rodape">
                <h3 class="titulo-grupo-rodape">Redes sociais</h3>

                <div id="logos-redes-sociais">
                    <a href="https://www.facebook.com/centropaulasouza"><img src="../imagens/facebook-icon.png" alt="icone de acesso ao facebook"></a>
                    <a href="https://www.instagram.com/centropaulasouza/"><img src="../imagens/instagram-icon.png" alt="icone de acesso ao instagram"></a>
                    <a href="https://twitter.com/paulasouzasp"><img src="../imagens/twitter-icon.png" alt="icone de acesso ao twitter"></a>
                    <a href="https://www.youtube.com/c/centropaulasouzaspoficial"><img src="../imagens/youtube-icon.png" alt="icone de acesso ao youtube"></a>
                    <a href="https://www.linkedin.com/company/centropaulasouza/"><img src="../imagens/linkedin-icon.png" alt="icone de acesso ao linkedin"></a>
                </div>

                <p>Este site não coleta cookies.</p>
            </div>

            <div class="grupo-rodape">
                <h3 class="titulo-grupo-rodape">Entre em contato</h3>

                <div id="informacoes-extras">
                    <a href="https://www.cps.sp.gov.br/fatecs/">Informações sobre todas as unidades de Fatecs.</a>
                    <p>Fatec Eventos</p>
                    <p>Todos os direitos reservados.</p>
                    <p>Copyright &copy; 2022</p>
                </div>
                
            </div>

        </footer>

        

    </body>

    <!--Chamando js necessario para executar o owl-->
    <script src="../js/owl/jquery.min.js"></script>
    <script src="../js/owl/owl.carousel.min.js"></script>
    <script src="../js/owl/setup.js"></script>

    <!-- Js para acessibilidade -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../js/fonte.js"></script>
    <script src="../js/contraste-views.js"></script>

</html>